* {
  margin: 0;
  padding: 0;
}

ul,li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.ccc {
  background-color: #ccc;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

a:hover {
  color: red;
}

.ofh {
  overflow: hidden;
}

.d-flex {
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.d-block {
  display: block;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.w200 {
  width: 200px;
}

.w800 {
  width: 800px;
}

.h350 {
  height: 350px;
}

.h200 {
  height: 200px;
}

.h100 {
  height: 100px;
}

.w33 {
  width: 33.33%;
}

.container {
  width: 1000px;
}

#pop {
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#gnb {
  text-indent: 2rem;
}

#gnb > li > a{
  font-size: 2em;
  font-weight: bold;
  line-height: 2;
}

#hd {
  padding: 1rem 0;
  box-sizing: border-box;
}

#gnb .d2ul {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}

#gnb li:hover ul {
  max-height: 300px;
}

#gnb > li:hover > a {
  color: red;
}

.swiper .swiper-slide img {
  width: 800px;
  height: 350px;
}